In [2]:
import pandas as pd
import json

In [5]:
df = pd.read_json("raw/dataset.json")

# Exploração Inicial

In [11]:
df.head()

,loteria,concurso,data,local,dezenasOrdemSorteio,dezenas,trevos,timeCoracao,mesSorte,premiacoes,...,observacao,acumulou,proximoConcurso,dataProximoConcurso,localGanhadores,valorArrecadado,valorAcumuladoConcurso_0_5,valorAcumuladoConcursoEspecial,valorAcumuladoProximoConcurso,valorEstimadoProximoConcurso
0,megasena,1551.0,27/11/2013,"Auditório em OSASCO, SP","[02, 23, 38, 15, 21, 19]","[02, 15, 19, 21, 23, 38]",None,N/A,None,"[{'descricao': '6 acertos', 'faixa': 1, 'ganha...",...,Sorteio realizado em Estúdio de TV.,0.0,1552.0,30/11/2013,"[{'ganhadores': 1, 'municipio': 'BOA VISTA', '...",26151116.0,4782195.52,55716523.25,0.00,3000000.0
1,lotofacil,656.0,28/07/2011,"Caminhão da Sorte em ROSEIRA, SP","[03, 18, 08, 14, 15, 05, 22, 09, 20, 07, 25, 1...","[02, 03, 05, 07, 08, 09, 11, 13, 14, 15, 18, 2...",[],None,None,"[{'descricao': '15 acertos', 'faixa': 1, 'ganh...",...,,0.0,657.0,01/08/2011,"[{'ganhadores': 1, 'municipio': 'MANACAPURU', ...",19064847.5,0.00,0.00,0.00,1700000.0
2,megasena,664.0,14/05/2005,"Caminhão da Sorte em PASSOS, MG","[12, 01, 55, 59, 38, 36]","[01, 12, 36, 38, 55, 59]",[],None,None,"[{'descricao': '6 acertos', 'faixa': 1, 'ganha...",...,ACUMULOU!!! Estimativa de prêmio (SENA) próxim...,1.0,665.0,18/05/2005,[],0.0,23857740.39,0.00,23857740.39,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,megasena,366.0,01/06/2002,"Caminhão da Sorte em Orlândia, SP","[06, 04, 51, 07, 21, 15]","[04, 06, 07, 15, 21, 51]",[],None,null,"[{'descricao': '6 acertos', 'faixa': 1, 'ganha...",...,Estimativa de prêmio (SENA) próximo concurso: ...,1.0,367.0,05/06/2002,[],0.0,5048832.63,0.00,625880.91,0.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8176 entries, 0 to 8175
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   loteria                         8174 non-null   object
 1   concurso                        8174 non-null   float64
 2   data                            8174 non-null   object
 3   local                           8174 non-null   object
 4   dezenasOrdemSorteio             8174 non-null   object
 5   dezenas                         8174 non-null   object
 6   trevos                          7381 non-null   object
 7   timeCoracao                     3099 non-null   object
 8   mesSorte                        2296 non-null   object
 9   premiacoes                      8174 non-null   object
 10  estadosPremiados                7360 non-null   object
 11  observacao                      8174 non-null   object
 12  acumulou                        8174 non-null   float64
 13  proximoConcurso                 8174 non-null   float64
 14  dataProximoConcurso             8174 non-null   object
 15  localGanhadores                 8174 non-null   object
 16  valorArrecadado                 8174 non-null   float64
 17  valorAcumuladoConcurso_0_5      8174 non-null   float64
 18  valorAcumuladoConcursoEspecial  8174 non-null   float64
 19  valorAcumuladoProximoConcurso   8174 non-null   float64
 20  valorEstimadoProximoConcurso    8174 non-null   float64
dtypes: float64(8), object(13)
memory usage: 1.3+ MB

In [13]:
df.describe()

,concurso,acumulou,proximoConcurso,valorArrecadado,valorAcumuladoConcurso_0_5,valorAcumuladoConcursoEspecial,valorAcumuladoProximoConcurso,valorEstimadoProximoConcurso
count,8174.000000,8174.000000,8174.000000,8.174000e+03,8.174000e+03,8.174000e+03,8.174000e+03,8.174000e+03
mean,1365.549670,0.590531,1366.549670,1.921821e+07,3.804449e+06,2.019212e+07,9.341134e+06,1.084534e+07
std,929.131099,0.491766,929.131099,6.107406e+07,1.091996e+07,3.089179e+07,2.309683e+07,2.788124e+07
min,1.000000,0.000000,2.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,565.000000,0.000000,566.000000,1.418518e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+06
50%,1228.500000,1.000000,1229.500000,9.292944e+06,2.010365e+05,0.000000e+00,1.114194e+06,1.800000e+06
75%,2080.000000,1.000000,2081.000000,2.303729e+07,3.413749e+06,3.545109e+07,7.379924e+06,7.000000e+06
max,3534.000000,1.000000,3535.000000,2.490297e+09,2.670063e+08,1.735093e+08,2.670063e+08,6.000000e+08

In [18]:
df['data'] = pd.to_datetime(df['data'], format='mixed', dayfirst=True)
df['dataProximoConcurso'] = pd.to_datetime(df['dataProximoConcurso'], format='mixed', dayfirst=True)

In [20]:
df['data'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8176 entries, 0 to 8175
Series name: data
Non-Null Count  Dtype
--------------  -----
8174 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 64.0 KB

In [21]:
df.nunique().sort_values()

TypeError: unhashable type: 'list'