In [2]:
import pandas as pd
import json
import ast

In [3]:
df = pd.read_json("raw/dataset.json")

## Passo 1: 
- Separar Tabelas por concurso
## Passo 2:
- Limpeza dos Dados
## Passo 3: 
- Criar colunas para dia, mês, ano e semana do ano para data deste e do próximo concurso
- Separar cada número das dezenas sorteadas em colunas diferentes
- Separar cidade e estado em colunas diferentes (local)
- mesSorte e timeCoracao específico de um concurso, verificar qual e dropar os outros
- separar premiações em colunas, criar coluna com quantos premiados
- localGanhadores separar por coluna
- verificar diferença entre nulo e 0 em valorArrecadado
- criar coluna de razão entre valor estimado e valor acumulado
## Passo 4:
- Verificar possibilidade de gerar tabela gold, silver e bronze
# Passo 5: 
- Construir pipeline

# Separação por concurso
- 'megasena', 'lotofacil', nan, 'maismilionaria', 'timemania', 'diadesorte'

In [4]:
df[df.isna().all(axis=1)]

,loteria,concurso,data,local,dezenasOrdemSorteio,dezenas,trevos,timeCoracao,mesSorte,premiacoes,...,observacao,acumulou,proximoConcurso,dataProximoConcurso,localGanhadores,valorArrecadado,valorAcumuladoConcurso_0_5,valorAcumuladoConcursoEspecial,valorAcumuladoProximoConcurso,valorEstimadoProximoConcurso
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.dropna(how="all")

In [9]:
df['loteria'].unique()

array(['megasena', 'lotofacil', nan, 'maismilionaria', 'timemania',
       'diadesorte'], dtype=object)

In [7]:
megasena_df = df[df['loteria'] == 'megasena']
lotofacil_df = df[df['loteria'] == 'lotofacil']
milionaria_df = df[df['loteria'] == 'maismilionaria']
time_df = df[df['loteria'] == 'timemania']
sorte_df = df[df['loteria'] == 'diadesorte']

In [4]:
megasena_df.to_csv("raw/megasena.csv")
lotofacil_df.to_csv("raw/lotofacil.csv")
milionaria_df.to_csv("raw/milionaria.csv")
time_df.to_csv("raw/timemania.csv")
sorte_df.to_csv("raw/diadesorte.csv")